<div class='form-group row'>
  <div class='<%= dynamic_small_column_class %>'>
    <%= t('.users') %>
  </div>
  <div class='<%= dynamic_large_column_class %>'>          
    <%= f.fields_for :team_users do |team_user_f| %>
      <% if team_user_f.object.user %>
        <%= nested_for(team_user_f, destroy: true) do %>
          <%= team_user_f.object.user.name %>
        <% end %>
      <% else %>
        <%= team_user_f.select(:user_id, @team_users_collection, { include_blank: true }, class: 'form-control custom-select', style: 'width:auto;') %>
      <% end %>
    <% end %>
  </div>
</div><!-- /.form-group.row -->