<!-- TODO: Delete --> 

<fieldset class="mb-1">
  <% if f.object.user %>
    <%= render 'user', user: f.object.user %>
  <% end %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :_destroy %>
  <%= link_to '&#10029;'.html_safe, '#', class: "remove_fields ml-1" %>
</fieldset>

<% if false %>
  <div class='nested-fields'>
    <%= f.inputs do %>
      <div class='nested-content d-flex align-items-center mb-2'></div>
      <%= f.input :id %>
      <%= link_to_remove_association "remove member", f %>
    <% end %>
  </div>
<% end %>