<% provide :title, @team.name %>
<% provide :subtitle, t('activerecord.models.team.name') %>

<dl class="row mb-5">
  <dt class="<%= dynamic_small_column_class %>">Name</dt>
  <dd class="<%= dynamic_large_column_class %>"><%= @team.name %></dd>
  
  <% if @team.parent %>
    <dt class="<%= dynamic_small_column_class %>"><%= Team.human_attribute_name 'parent' %></dt>
    <dd class="<%= dynamic_large_column_class %>"><h4><%= ancestry_parent_breadcrumbs @team, :name %></h4></dd>
  <% end %>
  
  <dt class="<%= dynamic_small_column_class %>">Members</dt>
  <dd class="<%= dynamic_large_column_class %>">
    <% @team.team_users.each do |team_user| %>
      <%= link_to_user_avatar team_user.user, class: 'd-inline-block', title_name: true %>
    <% end %>
  </dd>
</dl>

<hr class='my-5'>
<div class='block-content row'>
  <div class='<%= column_class %>'>
    <div class='pull-right'>
      <%= link_to t('buttons.edit'), edit_team_path(@team), { class: 'btn btn-primary', role: 'button' } %>
    </div>
  </div><!-- /.col -->
</div><!-- /.block-content.row -->
