<%= form_for(@user) do |f| %>
  <div class='row'>
    <div class='<%= column_class %>'>
      <div class='form-group row'>
        <%= f.label :last_name, class: "#{dynamic_small_column_class} form-control-label" %>
        <div class='<%= dynamic_large_column_class %>'>
          <%= f.text_field :last_name, class: 'form-control' %>
          <%= error_messages f.object, :last_name %>
        </div>
      </div>
      <div class='form-group row'>
        <%= f.label :first_name, class: "#{dynamic_small_column_class} form-control-label" %>
        <div class='<%= dynamic_large_column_class %>'>
          <%= f.text_field :first_name, class: 'form-control' %>
          <%= error_messages f.object, :first_name %>
        </div>
      </div>
      <div class='form-group row'>
        <%= f.label :email, class: "#{dynamic_small_column_class} form-control-label" %>
        <div class='<%= dynamic_large_column_class %>'>
          <%= f.text_field :email, class: 'form-control' %>
          <%= error_messages f.object, :email %>
        </div>
      </div>
      <div class='form-group row'>
        <%= f.label :birth_date, class: "#{dynamic_small_column_class} form-control-label" %>
        <div class='<%= dynamic_large_column_class %>'>
        	<%= f.date_select :birth_date, { start_year: User.not_younger.year, end_year: User.not_older.year, prompt: true }, class: 'form-control custom-select date-select' %>
        	<%= error_messages f.object, :birth_date %>
        </div>
      </div>
      <div class='form-group row'>
        <div class='<%= dynamic_small_column_class %>'>
          <%= User.human_attribute_name 'gender' %>
        </div>
        <div class='<%= dynamic_large_column_class %>'>
          <label class='custom-control custom-radio'>
            <%= f.radio_button :gender, :male, class: 'custom-control-input' %>
            <span class='custom-control-indicator'></span>
          	<span class='custom-control-description'><%= User.human_attribute_name 'gender.male' %></span>
          </label>
          <label class='custom-control custom-radio'>
            <%= f.radio_button :gender, :female, class: 'custom-control-input' %>
            <span class='custom-control-indicator'></span>
          	<span class='custom-control-description'><%= User.human_attribute_name 'gender.female' %></span>
          </label>
          <label class='custom-control custom-radio'>
            <%= f.radio_button :gender, :other, class: 'custom-control-input' %>
            <span class='custom-control-indicator'></span>
          	<span class='custom-control-description'><%= User.human_attribute_name 'gender.other' %></span>
          </label>
        </div>
      </div>
      <div class='row'>
        <div class='<%= "#{dynamic_small_column_offset_class} #{dynamic_large_column_class}" %>'>
          <% if action_name == 'edit' %>
            <%= link_to t('.confirm.delete.button'), '#', class: 'text-danger', 'data-toggle': 'modal', 'data-target': '#modal' %>
            <%= render partial: 'layouts/modal', locals: {  
                  title: t('.confirm.delete.title'),
                  body: t('.confirm.delete.body'),
                  ok_link: link_to(t('buttons.delete'), user_path(@user), method: :delete, class: 'btn btn-danger'),
                  cancel_link_text: t('buttons.cancel') } %>
          <% else %>
            <p class='text-danger'><%= t '.password_note' %></p>
          <% end %>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.col -->
  </div><!-- /.row -->
  <hr class='my-3'>
  <div class='row'>
    <div class='<%= column_class %>'>
      <div class='pull-right'>
        <%= cancel_link %>
        <%= save_link %>
      </div>
    </div><!-- /.col -->
  </div><!-- /.row -->
<% end %>