<% provide :title, t('.title') %>

<h6 class='text-muted'><%= t 'activerecord.models.user.name' %></h6>
<h2 class="d-inline"><%= t '.title' %></h2>
<div class='pull-right'>
  <%= link_to t('.add_user_link'), new_user_path, class: 'btn btn-outline-primary' %>
</div>

<hr class='m-y-1'>
<div class='row m-b-1'>
  <div class='<%= column_class %> search'>
    <%= search_tag users_path, id: 'users-search', class: 'search search-grey' %>
  </div><!-- /.col -->
</div><!-- /.row -->
<div class='row m-b-3'>
  <div class='<%= column_class %>'>
    <%= link_sort_tag(:sort, main_class: 'default-link-style', selected_in_title: true) do %>
      <%= option_for_sort(:last_name, t('.sort_by_name'), default: true) %>
      <%= option_for_sort(:created_at, t('.sort_by_created_at')) %>
    <% end %>
  </div><!-- /.col -->
</div><!-- /.row -->
<% @users.each do |user| %>
  <%= render 'item', item: user %>
<% end %>
<div class='row m-t-2'>
  <div class='<%= column_class %>'>
    <div class='pagination-block'>
      <%= will_paginate @users, inner_window: 2, outer_window: 1 %>
      <div class='pagination-info text-muted'>
        <small><%= page_entries_info @users, model: User, html: false %></small>
      </div><!-- /.pagination-info -->
    </div><!-- /.pagination-block -->
  </div><!-- /.col -->
</div><!-- /.row -->