<nav class='navbar navbar-main navbar-fixed-top navbar-expand-md navbar-light bg-white'>
  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbar-main' aria-expanded="false" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class='collapse navbar-collapse' id='navbar-main'>
    <a class='navbar-brand' href='#'><%= app_name %></a>
    <ul class='navbar-nav mr-auto'>
      <%= nav_link_to t('.individual'), root_path %>
      <%= nav_link_to t('.company'), root_path %>
    </ul>
		<ul class='navbar-nav pull-right'>
      <%= render 'layouts/language_menu' %>
			<% if logged_in? %>
				<%= render 'layouts/user_menu' %>
			<% else %>
        <li class='nav-item'><%= link_to t('.login'), login_path, class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to t('.signup'), signup_path, class: 'btn btn-outline-primary', role: 'button' %></li>
			<% end %>
		</ul>
  </div><!--/.nav-collapse -->
</nav><!--/.navbar -->