<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/base_header' %>
  <div class='container content'>
    <div class='row'>
      <div class='<%= column_class %>'>
        <%= render 'layouts/flash' %>
      </div><!-- /.col -->
    </div><!-- /.row -->
    <div class='row'>
      <%= yield %>
    </div><!-- /.container.content -->
  </div><!-- /.col -->
  <footer id='footer' class='footer footer-dark'>
    <div class='container'>
      <%= render 'layouts/debug' %>
    </div>
  </footer>
</body>
</html>